#heading{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding-top: 50px;
    padding-bottom: 15px;
    border-style: solid;
    border-radius: 50px;
    border-color: #006F06;
    background-image: url("images/color-palette1.jpg")
}
section{
    margin-top: 25px;
    margin-bottom: 25px;
}
h1{
    font-size: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    font-family: Courier New, Courier, monospace;
    color:white;
    }
a:link{
    color: #006F06;
    text-decoration: none;
}
a:hover{
    color:#76B57A;
}
h4{
    column-count: 6;
    column-width: 50px;
    border: 2px solid #006F06;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: 20px;
    }
img {
    border: 1px solid rgba(221, 221, 221, 0.80);
    border-radius: 50px;
    padding: 5px;
    width: 400px;
}
h3 {
    color: #006F06;
    font-family: 'Adelle W01 Bold';
    font-size: 40px;
    font-weight: 500;
    line-height: 1.25em;
    margin: 20px;
}
body p{
    margin-left: 20px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#about_me{
    column-count: 2;
    column-width: 300px;
    border-style: solid;
    border-color: #F1DF31;
    border-radius: 50px;
}
#paint{
    column-count: 2;
    column-width: 300px;
    border-style: solid;
    border-color: #F2730A;
    border-radius: 50px;
}
#crochet{
    column-count: 2;
    column-width: 300px;
    border-style: solid;
    border-color: #EE0808;
    border-radius: 50px;
}
#woodburning{
    column-count: 2;
    column-width: 300px;
    border-style: solid;
    border-color: #B10053;
    border-radius: 50px;
}
#cross_stitch{
    column-count: 2;
    column-width: 300px;
    border-style: solid;
    border-color: #64058B;
    border-radius: 50px;
}
#legos{
    column-count: 2;
    column-width: 300px;
    border-style: solid;
    border-color: rgb(25, 0, 152);
    border-radius: 50px;
}

footer{
    text-align:center;
    margin-top: 50px;
}